* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.task-container {
  background: #ffffffbc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

#taskInput {
  width: calc(100% - 110px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#addTaskButton {
  padding: 10px 15px;
  border: none;
  background-color: #1e56ffad;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#addTaskButton:hover {
  background-color: #1e56ff;
}

.task-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.titles ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0.2rem;
  color: #000000;
}

.titles a {
  text-decoration: none;
  color: inherit;
}

.titles a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.tasks-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

.tasks-list.hidden {
  display: none;
}

.tasks-list ul {
  width: 100%;
}

.tasks-list ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.task-controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #c00;
  font-weight: 600;
  cursor: pointer;
  padding: 6px;
  border-radius: 3px;
}

.delete-btn:hover {
  background: rgba(255, 0, 0, 0.06);
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #00930c;
  opacity: 0.6;
}

/*  Background Animation Styles  */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 9vmin;
  height: 9vmin;
  border-radius: 9vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 37;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #e7e4c5;
  top: 62%;
  left: 98%;
  animation-duration: 62s;
  animation-delay: -126s;
  transform-origin: -18vw 21vh;
  box-shadow: 18vmin 0 2.633104349297178vmin currentColor;
}
.background span:nth-child(1) {
  color: #e7e4c5;
  top: 31%;
  left: 28%;
  animation-duration: 19s;
  animation-delay: -66s;
  transform-origin: -9vw -24vh;
  box-shadow: 18vmin 0 3.0185978259071353vmin currentColor;
}
.background span:nth-child(2) {
  color: #1e56ff;
  top: 54%;
  left: 97%;
  animation-duration: 128s;
  animation-delay: -58s;
  transform-origin: 4vw -9vh;
  box-shadow: 18vmin 0 3.139146782470129vmin currentColor;
}
.background span:nth-child(3) {
  color: #6fd0d0;
  top: 58%;
  left: 60%;
  animation-duration: 65s;
  animation-delay: -48s;
  transform-origin: 12vw -4vh;
  box-shadow: -18vmin 0 2.387164539188966vmin currentColor;
}
.background span:nth-child(4) {
  color: #6fd0d0;
  top: 36%;
  left: 27%;
  animation-duration: 133s;
  animation-delay: -34s;
  transform-origin: 9vw -2vh;
  box-shadow: 18vmin 0 2.643564022176754vmin currentColor;
}
.background span:nth-child(5) {
  color: #e7e4c5;
  top: 69%;
  left: 76%;
  animation-duration: 55s;
  animation-delay: -47s;
  transform-origin: 4vw -10vh;
  box-shadow: 18vmin 0 3.021190657293139vmin currentColor;
}
.background span:nth-child(6) {
  color: #1e56ff;
  top: 67%;
  left: 39%;
  animation-duration: 74s;
  animation-delay: -85s;
  transform-origin: 2vw 14vh;
  box-shadow: 18vmin 0 2.8363334294758333vmin currentColor;
}
.background span:nth-child(7) {
  color: #e7e4c5;
  top: 92%;
  left: 21%;
  animation-duration: 122s;
  animation-delay: -117s;
  transform-origin: 7vw -11vh;
  box-shadow: 18vmin 0 2.6147467934928112vmin currentColor;
}
.background span:nth-child(8) {
  color: #6fd0d0;
  top: 38%;
  left: 10%;
  animation-duration: 117s;
  animation-delay: -109s;
  transform-origin: 7vw -5vh;
  box-shadow: 18vmin 0 2.5499353771646485vmin currentColor;
}
.background span:nth-child(9) {
  color: #1e56ff;
  top: 77%;
  left: 41%;
  animation-duration: 31s;
  animation-delay: -85s;
  transform-origin: 10vw -8vh;
  box-shadow: 18vmin 0 2.8618718782003456vmin currentColor;
}
.background span:nth-child(10) {
  color: #1e56ff;
  top: 89%;
  left: 96%;
  animation-duration: 103s;
  animation-delay: -63s;
  transform-origin: 7vw 11vh;
  box-shadow: 18vmin 0 2.3167904089417597vmin currentColor;
}
.background span:nth-child(11) {
  color: #6fd0d0;
  top: 92%;
  left: 91%;
  animation-duration: 98s;
  animation-delay: -108s;
  transform-origin: -7vw -23vh;
  box-shadow: -18vmin 0 3.166439936564402vmin currentColor;
}
.background span:nth-child(12) {
  color: #e7e4c5;
  top: 100%;
  left: 88%;
  animation-duration: 127s;
  animation-delay: -101s;
  transform-origin: 3vw 18vh;
  box-shadow: 18vmin 0 2.3369004192270024vmin currentColor;
}
.background span:nth-child(13) {
  color: #1e56ff;
  top: 58%;
  left: 50%;
  animation-duration: 33s;
  animation-delay: -83s;
  transform-origin: -6vw 8vh;
  box-shadow: 18vmin 0 2.4194651730944754vmin currentColor;
}
.background span:nth-child(14) {
  color: #1e56ff;
  top: 66%;
  left: 33%;
  animation-duration: 99s;
  animation-delay: -111s;
  transform-origin: -5vw 18vh;
  box-shadow: 18vmin 0 2.55577905037556vmin currentColor;
}
.background span:nth-child(15) {
  color: #1e56ff;
  top: 36%;
  left: 67%;
  animation-duration: 68s;
  animation-delay: -74s;
  transform-origin: 18vw 2vh;
  box-shadow: 18vmin 0 2.447077060610539vmin currentColor;
}
.background span:nth-child(16) {
  color: #1e56ff;
  top: 60%;
  left: 95%;
  animation-duration: 66s;
  animation-delay: -126s;
  transform-origin: -1vw 16vh;
  box-shadow: 18vmin 0 2.465917019148662vmin currentColor;
}
.background span:nth-child(17) {
  color: #1e56ff;
  top: 24%;
  left: 53%;
  animation-duration: 70s;
  animation-delay: -60s;
  transform-origin: 20vw 25vh;
  box-shadow: -18vmin 0 2.5199622577519483vmin currentColor;
}
.background span:nth-child(18) {
  color: #1e56ff;
  top: 86%;
  left: 78%;
  animation-duration: 104s;
  animation-delay: -2s;
  transform-origin: 8vw 4vh;
  box-shadow: 18vmin 0 2.73678568368619vmin currentColor;
}
.background span:nth-child(19) {
  color: #1e56ff;
  top: 21%;
  left: 10%;
  animation-duration: 29s;
  animation-delay: -79s;
  transform-origin: 21vw 15vh;
  box-shadow: 18vmin 0 2.6307115985928107vmin currentColor;
}
.background span:nth-child(20) {
  color: #1e56ff;
  top: 63%;
  left: 97%;
  animation-duration: 110s;
  animation-delay: -24s;
  transform-origin: -12vw -20vh;
  box-shadow: -18vmin 0 2.677785661876212vmin currentColor;
}
.background span:nth-child(21) {
  color: #6fd0d0;
  top: 76%;
  left: 34%;
  animation-duration: 94s;
  animation-delay: -116s;
  transform-origin: 19vw -2vh;
  box-shadow: 18vmin 0 2.7851186092718523vmin currentColor;
}
.background span:nth-child(22) {
  color: #1e56ff;
  top: 85%;
  left: 46%;
  animation-duration: 117s;
  animation-delay: -119s;
  transform-origin: 2vw 16vh;
  box-shadow: -18vmin 0 2.5362849042490834vmin currentColor;
}
.background span:nth-child(23) {
  color: #6fd0d0;
  top: 1%;
  left: 80%;
  animation-duration: 62s;
  animation-delay: -19s;
  transform-origin: -22vw 6vh;
  box-shadow: -18vmin 0 2.3665313230928824vmin currentColor;
}

/*  End of Background Animation Styles  */
